  .carruselItem{
    width: 80vw;
    height: 91vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .carruselItem > h2{
      font-size: 10vw;
      text-align: center;
    }

  
  .carruselItemBlack{
      width: 80vw;
      height: 91vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: black !important;
    }
    
    .carruselItemBlack > h2{
      text-align: center;
      font-size: 10vw;
      color: white;
    }

    @media (max-width:590){
      .carruselItem{
        width: 80vw;
        height: 51vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    
      .carruselItem > h2{
          font-size: 10vw;
          text-align: center;
        }
    
      
      .carruselItemBlack{
          width: 80vw;
          height: 51vh;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: black !important;
        }
        
        .carruselItemBlack > h2{
          text-align: center;
          font-size: 10vw;
          color: white;
        }
    }
  
  