html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto;
  background-color: #ffffffff;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif !important;
}

* {
  box-sizing: border-box;
  overflow-x: hidden;
  

}

@media (max-width: 749px) {
  .map {
    margin-bottom: 9%;
  }
}
