.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffffff;
  overflow-x: hidden;
  min-width: 100%;

}

.firstText{
  margin-bottom: 14rem;
}

.firstText p{
    white-space: normal;
    width: 90%;
    margin: 2rem auto;
    font-size: 1.2rem;
    font-family: Helvetica;
}

.agbar {
  margin-top: 7rem;
  width: 100%;
  height: 10rem;
  background-image: url(../public/agbar.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.sagradaFamilia {
  width: 100%;
  height: 10rem;
  background-image: url(../public/sagradaFamilia.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  margin: 4rem 0;
}

.wela {
  width: 100%;
  height: 10rem;
  background-image: url(../public/wela.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  margin-top:12rem;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 91%;
  margin-top: 9%;
}

.carrousel {
  height: 0% !important;
  min-width: 91% !important;
  margin-top: 50%;
}

.personas {
  width: 50%;
  height: 20%;
  background-color: #ffffffff;
}

.footer {
  width: 100%;
  height: 7%;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer p {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 40%;
}

.footer a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40%;
  text-decoration: none;
  color: #65BEC8;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #ffffffff;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #ffffffff;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 45%;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.mobileFooter{
  width: 15%;
  height: 0%;
  margin: 0 auto;
  margin-bottom: -3rem;
  position: relative;
  bottom: 10rem;
  display: flex;
  flex-direction: column;
}

.negrita{
  font-weight: bold;
  align-self: center;
  font-size: 1.2rem;
  white-space: nowrap;
}

.mobileFooter div{
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  flex-direction: row;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  justify-content: space-between;
}

.mobileFooter div :nth-child(1){
  background-image: url(../public/facebook.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 3rem;
  height: 3rem;
}
.mobileFooter div :nth-child(2){
  background-image: url(../public/instagram.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 3rem;
  height: 3rem;
}
.mobileFooter div :nth-child(3){
  background-image: url(../public/twitter.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 3rem;
  height: 3rem;
}

@media (max-width: 590px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .footer {
    width: 100%;
    height: 7%;
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 6%;
  }

  .footer p {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  .footer a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40%;
    text-decoration: none;
    color: #65c1b1;
  }
  
  .carrousel {
    margin: 0 auto !important;
    width: 80% !important;
    max-height: 50% !important;
    height: 50% !important;
    margin-bottom: 120% !important;
  }

  .carrousel :nth-child(1){
    max-height: 51%;
    margin-top: 9% !important;
  }

  .mobileFooter{
    position: relative;
    bottom: 19rem;
    width: 60%;
    height: 10%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  .negrita{
    font-weight: bold;
    align-self: center;
    font-size: 1.2rem;
    white-space: nowrap;
  }
  
  .mobileFooter div{
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
  }
  
  .mobileFooter div :nth-child(1){
    background-image: url(../public/facebook.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 3rem;
    height: 3rem;
  }
  .mobileFooter div :nth-child(2){
    background-image: url(../public/instagram.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 3rem;
    height: 3rem;
  }
  .mobileFooter div :nth-child(3){
    background-image: url(../public/twitter.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 3rem;
    height: 3rem;
  }

}
