.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffffff;
  overflow-x: hidden;
  min-width: 100vw;
}

.agbar {
  width: 100vw;
  height: 26vh;
  background-image: url(../public/agbar.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.sagradaFamilia {
  width: 100vw;
  height: 22vh;
  background-image: url(../public/sagradaFamilia.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  right: -60%;
  top: 2vh;
}

.wela {
  width: 100vw;
  height: 26vh;
  background-image: url(../public/wela.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  right: -60%;
  top: 2vh;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 91vh;
  margin-top: 9vh;
}

.carrousel {
  height: 91vh !important;
  min-width: 80% !important;
}

.personas {
  width: 50vw;
  height: 20vh;
  background-color: #ffffffff;
}

.footer {
  width: 100%;
  height: 7vh;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer p {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 40%;
}

.footer a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40%;
  text-decoration: none;
  color: #65c1b1;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #ffffffff;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #ffffffff;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 45%;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 749px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .footer {
    width: 100%;
    height: 7vh;
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 6vh;
  }

  .footer p {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  .footer a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40%;
    text-decoration: none;
    color: #65c1b1;
  }
}
