@media (min-width: 750px) {
  .mainDiv {
    margin: 10% 0;
    white-space: nowrap;
    width: 100%;
    height: 20%;
 
  }

  .div1 {
    display: inline-block;
    animation: marquee 25s linear infinite;
    background-image: url(../public/placa2.png);
    background-repeat: round;
    height: 10rem;
    background-size: contain;
    width: 300%;
  }

  @keyframes marquee {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }
}

@media (max-width: 749px) {
  .mainDiv {
    white-space: nowrap;
    width: 100%;
    height: 20%;
    margin: 10% 0;
 
  }

  .div1 {
    display: inline-block;
    animation: marquee 5s linear infinite;
    background-image: url(../public/placa2.png);
    background-repeat: round;
    height: 100%;
    background-size: contain;
    width: 300%;
  }

  @keyframes marquee {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }
}
