@font-face {
  font-family: Monument;
  src: url(../public/MonumentExtended-Regular.otf);
}

@media (min-width: 750px) {
  .textContainer {
    height: 91%;
    width: 100%;
    background-image: url(../public/bg1.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 3%;
    padding-bottom: 10%;
  }
  .text {
    padding: 5%;
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: justify;
  }
  .text div:nth-child(1) {
    align-self: flex-start;
    justify-self: left;
    width: 32%;
    text-align: left;
    margin-top: 0rem;
  }
  .text div:nth-child(2) {
    margin-top: 4%;
    margin-bottom: 4%;
    align-self: center;
    justify-self: left;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text div:nth-child(2) p {
    font-family: "Monument";
    text-align: center;
    margin: 0.2rem;
  }

  .text div:nth-child(3) {
    align-self: flex-end;
    justify-self: left;
    width: 38%;
    margin-right: 3rem;
  }
  .text p {
    text-align: left;
    font-size: 1rem;
    font-family: Roboto;
  }

  .negrita {
    font-weight: bold;
  }
}

@media (min-width: 1400px) {
  .textContainer {
    height: 91%;
    width: 100%;
    background-image: url(../public/bg1.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .text {
    padding: 5% 10%;
    width: 88%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: justify;
  }
  .text div:nth-child(1) {
    margin-top: 0rem;
    align-self: flex-start;
    justify-self: left;
    width: 30%;
    text-align: left;
  }
  .text div:nth-child(2) {
    margin-top: 4rem;
    margin-bottom: 5rem;
    margin-right: 5rem;
    align-self: center;
    justify-self: left;
    width: 60%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text div:nth-child(2) p {
    font-family: "Monument";
  }

  .text div:nth-child(3) {
    align-self: flex-end;
    justify-self: left;
    width: 32%;
    margin-right: 10rem;
  }
  .text p {
    text-align: left;
    font-size: 1.4rem;
    font-family: Roboto;
  }

  .negrita {
    font-weight: bold;
  }
}

@media (max-width: 749px) {
  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 91%;
    text-align: center;
    width: 100%;
    margin: 2rem auto;
  }

  .text p {
    width: 90%;
    margin: 0 auto;
    padding: 1%;
    font-family: Roboto;
  }

  .text div:nth-child(3) p {
    font-family: "Monument";
  }

  .negrita {
    font-weight: bold;
  }
  .arcTriomf {
    width: 100%;
    height: 10rem;
    background-image: url(../public/arcTriomf.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .torres {
    width: 100%;
    height: 10rem;
    background-image: url(../public/torres.svg);
    background-repeat: no-repeat;
    background-size: contain;
   /*  margin-left: 125%; */
   background-position: right;
  }
}
