@font-face {
    font-family: Monument;
    src: url(../public/MonumentExtended-Regular.otf);
  }
@media (min-width:750px){
    .text{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 91vh;
        text-align: justify;
        width: 100%;
        background-image: url(../public/bg2.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .text div{
        margin-right: 9rem;
        width: 30%;
    }
    
    .text div h1{
        font-family: 'Monument';
        font-size: 0.9rem;
    }
    .text div a{
        background-color: rgb(255,212,0);
        padding: 0.5rem 2rem;
        border-radius: 0.5rem;
        font-weight: bold;
        text-decoration: none;
        color: black;

    }

    .negrita{
        font-weight: bold;
    }
}

@media (max-width:749px){
    .text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 91vh;
        text-align: justify;
        width: 60%;
       
    }
    
    .negrita{
        font-weight: bold;
    }
}
