@font-face {
  font-family: Monument;
  src: url(../public/MonumentExtended-Regular.otf);
}
@media (min-width: 750px) {
  .text {
    padding: 15vh 0 10vh 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 91vh;
    text-align: left;
    width: 100%;
    background-image: url(../public/bg2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 100vh;
  }

  .text div {
    margin-right: 9rem;
    width: 30%;
    padding-bottom: 5vh;
  }

  .text p {
    font-family: Roboto;
    font-size: 1.2rem;
  }

  .text div h1 {
    font-family: "Monument";
    font-size: 0.9rem;
  }
  .text div a {
    background-color: rgb(255, 212, 0);
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-family: Roboto;
  }

  .negrita {
    font-weight: bold;
  }
}
@media (min-width: 1400px) {
  .text {
    padding: 10vh 0 22vh 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 91vh;
    text-align: left;
    width: 100%;
    background-image: url(../public/bg2.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .text div {
    margin-right: 9rem;
    width: 30%;
  }

  .text p {
    font-family: Roboto;
    font-size: 1.2rem;
  }

  .text div h1 {
    font-family: "Monument";
    font-size: 0.9rem;
  }
  .text div a {
    background-color: rgb(255, 212, 0);
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-family: Roboto;
  }

  .negrita {
    font-weight: bold;
  }
}
@media (max-width: 749px) {
  .text {
    margin-top: 43vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .text h1 {
    text-align: center;
  }

  .text p {
    font-family: Roboto;
    font-size: 1rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .negrita {
    font-weight: bold;
  }

  .text div a {
    background-color: rgb(255, 212, 0);
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
    margin: 0 auto;
    font-family: Roboto;
  }
}
